/* Gallery.css */
.carousel-3D-swiper-section {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    min-height: 500px;
}

.carousel-3D-swiper .swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 300px; /* Fixed width to match the image */
    height: 500px; /* Fixed height to match the image */
}

.carousel-3D-swiper .image-wrapper {
    overflow: hidden;
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.932); /* Adding box-shadow for 3D effect */
    border-radius: 8px;
}

.carousel-3D-swiper .image-wrapper img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.details {
    width: 100%;
    padding: 15px 10px;
    font-weight: 600;
    text-align: center;
    background-color: #fff;
}

.details span {
    display: block;
    font-size: 14px;
    color: #3173AD;
}

.details h3 {
    margin: 0;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.1;
}

.carousel-3D-swiper-section .swiper-pagination-bullet {
    margin: 0 4px;
    width: 16px;
    height: 16px;
    z-index: 50;
}

.carousel-3D-swiper-section .swiper-pagination-bullet-active {
    opacity: 1;
    background: orange;
}
